@charset "UTF-8";
@font-face {
    font-family: 'Christmas';
    src: url(../fontes/Christmas\ Hat.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Christmas', cursive;
    --fonte-titulos: 'Rubik Bubbles', cursive;

    --cor0: #F28D8D;
    --cor1: #D93B48;
    --cor2: #D90404;
    --cor3: #A60303;
    --cor4: #8C3A3A;
}

@media screen and (orientation: portrait){
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
       font-family: var(--fonte-titulos);
    }
    header {
        background-color: var(--cor4);
        position: relative;
    }
   header > h2 {
    display: inline;
    position: absolute;
    font-size: 1.4em;
    padding: 4px 10px;
    color: rgb(240, 235, 235);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.842);
    font-family: var(--fonte-destaque);
    
   }
    header > img {
        padding: 4px;
        width: 40px;
        height: 40px;
    }
    header > h1 {
        display:flex;
        justify-content: center;
        background-color: var(--cor2);
        color: white;
        padding-bottom: 10px;
        text-shadow: 2px 2px 5px black;
    }
    #burguer {
        background-color: var(--cor3);
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    #burguer:hover {
        background-color: rgba(0, 0, 0, 0.363);
        color: rgb(255, 255, 255);
    }
    menu {
        display: none;
    }
    menu#menuHeader > ul{
        list-style-type: none;
    }
    menu#menuHeader > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: var(--cor0);
        color: white;
        margin: 2px 0px;
        text-shadow: 1px 1px 1px black;
    }
    menu#menuHeader > ul > li > a:hover {
        background-color: gray;
    }

    main {
        background-color: rgba(255, 255, 255, 0.842);
        margin: auto;
        width: 93vw;
        padding: 10px;
        text-align: justify;
    }

    main > img {
        width: 100%;
        border: 1px solid rgb(255, 255, 255);
    }
    main > article > h1 {
        font-family: var(--fonte-titulos);
        color: rgb(206, 0, 0);
        padding: 20px 0px;
        text-shadow: 1px 1px 0px black;
    }
    main > article > p {
        color: rgb(0, 0, 0);
        text-indent: 20px;
        padding: 5px;
    }
}


